<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
    <title>HavenAI.</title>
</head>
<body>
    <style>
        #voltalink{
            display: block;
            width: 100%;
            text-align: center;
            color: white;
            transition: 100ms all ease;
        }

        #voltalink:hover{
            color: rgb(166, 232, 252);
        }
    </style>
    <section id="PainelPrincipal">
        <div id="divpainel">
            <h3 id="titulo">Cadastro 😉</h3>
            <a href="./" id="voltalink">
                Voltar
            </a>
            <hr>
            <section id="InputArea">
                <!-- REACT/PARTE -->
            </section>
        </div>
    </section>
    <script type="module" src="../src/Cadastro/CadastroMain.jsx"></script>
</body>
</html>