<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HavenAI - CHAT</title>
  </head>
  <body>
    <section id="CHAT">
      <div id="SideMenuDiv">
        <aside id="SideMenu">
          <div id="LogoTitleAside"
            >HavenAI.
            <img src="./src/assets/HVicon.png" alt="" id="HVicon"
          /></div>
          <div id="AboutAcount">
            <!-- Sobre a conta Logada -->
             <section id="AbCSec">
                <div id="userFrame">
                  <div id="LogOutDiv">
                    <h1>LogOut</h1>
                  </div>
                </div>
                <span>NomeUsuario</span>
             </section>
          </div>
          <nav id="NavHistory">
            <h1>Historico</h1>
            <!-- ChatMenus - History -->
            <div id="history">
                <!-- Section Via React -->
            </div>
          </nav>
          </div>
        </aside>
      </div>
      <div id="ChatArea">
        <section id="sectionChat">
          <header id="HeaderChatArea">
            <span id="LogoTitleHeader"><h1>HeavenAssistant.</h1></span>
          </header>
          <section id="ChatSection">
            <div id="ChatOutIN">
              <div id="INOUTAREA">
                 <div id="placeholder">
                   <h1>Envie Algo! 😊</h1>
                 </div>
              </div>
            </div>
            <section id="InputArea">
              <!-- InputText e BT -->
            </section>
          </section>
        </section>
      </div>
    </section>
    <script type="module" src="./src/Chat/chatMain.jsx"></script>
  </body>
</html>
