<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
    <title>HavenAI.</title>
</head>
<body>
    <section id="PainelPrincipal">
        <div id="divpainel">
            <h3>Recuperar Senha 😁</h3>
            <hr>
            <section id="InputArea">
                <!-- REACT/PARTE -->
            </section>
        </div>
    </section>
    <script type="module" src="../src/RecSenha/RecsMain.jsx"></script>
</body>
</html>